5AM_Telegram_Progress_Update.json
{
  "name": "5AM Telegram Progress Update",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8bc4a3ae-9232-4f2c-97f3-99af04ac9c0d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst day = now.getDate();\nconst daysInMonth = new Date(now.getFullYear(), now.getMonth() + 1, 0).getDate();\nconst monthProgress = ((day / daysInMonth) * 100).toFixed(2);\n\nreturn [{\n  json: {\n    date: now.toISOString().split('T')[0],\n    day,\n    daysInMonth,\n    monthProgress\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "ffdb3731-fcd6-4f2a-b919-177b2a1827f3",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const date = items[0].json.date;\nconst progress = items[0].json.monthProgress;\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Month Progress</title>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      background: linear-gradient(145deg, #0f2027, #203a43, #2c5364);\n      height: 100vh;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      font-family: 'Segoe UI', sans-serif;\n      color: #ffffff;\n      text-align: center;\n    }\n\n    h1 {\n      font-size: 5em;\n      font-weight: bold;\n      margin: 0;\n    }\n\n    h2 {\n      font-size: 2.5em;\n      margin: 20px 0 50px 0;\n      font-weight: 600;\n      color: #f0f8ff;\n    }\n\n    .progress-container {\n      width: 85%;\n      height: 60px;\n      background-color: rgba(255, 255, 255, 0.25);\n      border-radius: 30px;\n      box-shadow: inset 0 4px 6px rgba(0,0,0,0.6);\n      overflow: hidden;\n      position: relative;\n    }\n\n    .progress-fill {\n      width: ${progress}%;\n      height: 100%;\n      background: linear-gradient(to right, #00f2fe, #4facfe);\n      display: flex;\n      align-items: center;\n      justify-content: flex-end;\n      color: white;\n      font-size: 2em;\n      font-weight: bold;\n      padding-right: 25px;\n      border-radius: 30px 0 0 30px;\n      box-shadow: 0 4px 12px rgba(0, 123, 255, 0.6);\n      transition: width 1s ease-in-out;\n    }\n  </style>\n</head>\n<body>\n  <h1>${date}</h1>\n  <h2>📅 ${progress}% of the month is done!</h2>\n  <div class=\"progress-container\">\n    <div class=\"progress-fill\">${progress}%</div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: { html }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "3f9bdf59-630e-4601-b69b-d54fb1b7a59c",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hcti.io/v1/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json[\"html\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        0
      ],
      "id": "2997fce4-0f9e-473b-abb0-940bca3c8e3c",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "FsIB3gCDFs7fAspH",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "7398484940",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        0
      ],
      "id": "200580ed-ad51-482c-9836-ab2010f13550",
      "name": "Send a photo message",
      "webhookId": "5599f621-1e27-4921-b1bb-018baf455668",
      "credentials": {
        "telegramApi": {
          "id": "Yh9G8CYCevXEE7jb",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "831176fe-5b0d-4723-a6f0-89a2546cf362",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14e7bcbfb09052933096ea4f1570e11aef879c1f8e7122d6dcee555a4747a523"
  },
  "id": "L9y3i2PBJLC3xiXG",
  "tags": []
}