Automated_Email_Sender.json
{
  "name": "Automated Email Sender",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Appointment Calender",
        "formDescription": "We will make an appointment and send an automated email",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Date",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "9d7d39ff-94e0-4bd8-86ce-a6f3f76392b9",
      "name": "On form submission",
      "webhookId": "e772103b-675c-4d83-a40e-73cd0d6f5007"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "46f0aafb-6990-4f11-a360-3c8f998c323b",
              "leftValue": "={{ $json.Date }}",
              "rightValue": "2025-07-04T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "7fd1a222-7b65-4189-83d9-d017abb4d6ef",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        440,
        100
      ],
      "id": "4dbcd204-9002-4a75-9097-c842468af7e2",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Appointment confirmed for  {{ $json.Name }}",
        "message": "=Hi Sir,\n\nAppointment is for the date  {{ $json.Date }}\n\nPlease coordinate.\n\nBest,\nZox",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        -100
      ],
      "id": "7f2a556d-c358-4cee-a066-b16334260762",
      "name": "Send a message",
      "webhookId": "8e9611a8-7754-4d9d-8913-300c777c575c",
      "credentials": {
        "gmailOAuth2": {
          "id": "AJsy49of872aQMWy",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c285ea07-e53d-43cb-83db-f44d317729bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14e7bcbfb09052933096ea4f1570e11aef879c1f8e7122d6dcee555a4747a523"
  },
  "id": "8NWrIuAsrMRMqsoP",
  "tags": []
}