Telegram_Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "efe5439c-2425-4708-8bef-07ff804d2744",
      "name": "Telegram Trigger",
      "webhookId": "f93af13e-a38d-4fc5-ae83-27dd00c3c66a",
      "credentials": {
        "telegramApi": {
          "id": "jfRuMnGmFeczUjYd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant.\nYou will keep your responses precise on point and you will give me every answer to the query into 3-4 lines itself. Don't type large paragraphs, be the best expert in the world and then give me the answer see towards it that you are a but chit chatty."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        252,
        0
      ],
      "id": "c999c881-fe57-44a8-ac01-bafb78195518",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        220
      ],
      "id": "22275bf3-68cf-43ff-83df-f1fdf2e09aa5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TJePR1yZsfOPCzMq",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        220
      ],
      "id": "795849ae-b615-4325-9d5b-f11a63d2ac1f",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        460,
        220
      ],
      "id": "77457eb7-e854-4100-bc63-dd867a74839f",
      "name": "Calculator"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        0
      ],
      "id": "b6280ef2-a787-4ee5-9019-4708127364f2",
      "name": "Send a text message",
      "webhookId": "660827da-9461-4ac8-818e-5cf8d5e5b8b1",
      "credentials": {
        "telegramApi": {
          "id": "jfRuMnGmFeczUjYd",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7321242-07d8-4f5e-a16f-b12d3f323a5f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14e7bcbfb09052933096ea4f1570e11aef879c1f8e7122d6dcee555a4747a523"
  },
  "id": "ZTfDzioGriU2wtPP",
  "tags": []
}